# 后端API基础URL
VITE_API_BASE_URL=http://api.domain.com/api/v1
VITE_API_TARGET=/

# 后台访问密钥 (例如访问 /admin?s=my_secret_key)
VITE_ADMIN_SECRET=my_secret_key

# 订单服务配置
VITE_ORDER_SYSTEM_CREATE_ORDER_URL=http://localhost:8000/api/v1/orders
VITE_ORDER_SYSTEM_QUERY_ORDER_URL=http://localhost:8000/api/v1/orders
VITE_ORDER_SYSTEM_ADMIN_QUERY_ORDER_URL=http://localhost:8000/api/admin/orders/:order_id
VITE_ORDER_SYSTEM_ADMIN_SHIP_ORDER_URL=http://localhost:8000/api/admin/orders/:order_id/ship
VITE_ORDER_SYSTEM_ADMIN_CANCEL_SHIP_ORDER_URL=http://localhost:8000/api/admin/orders/:order_id/cancel-ship
VITE_ORDER_SYSTEM_APP_ID=test_app_123
VITE_ORDER_SYSTEM_APP_SECRET=test_secret_abc
